---
http_interactions:
- request:
    method: get
    uri: http://thecatapi.com/api/images/get?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <response>
          <data>
            <images>
              <image>
                <url>http://24.media.tumblr.com/tumblr_low6n5JHJF1qbhms5o1_500.jpg</url>
                <id>6kf</id>
                <source_url>http://thecatapi.com/?id=6kf</source_url>
              </image>
            </images>
          </data>
        </response>
  recorded_at: Tue, 12 Apr 2016 16:01:53 GMT
recorded_with: VCR 3.0.1
