---
http_interactions:
- request:
    method: get
    uri: http://api.thecatapi.com/v1/images/search?format=json&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue Sep 18 2018 14:32:20 GMT+0000 (UTC)
      X-Response-Time:
      - 28ms
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5gg","url":"https://25.media.tumblr.com/tumblr_lt95ovYgPG1r4xjo2o1_500.jpg","breeds":[],"categories":[]},{"id":"39a","url":"https://25.media.tumblr.com/tumblr_ltwqocDfjo1qdvbl3o1_500.jpg","breeds":[],"categories":[]},{"id":"80j","url":"https://25.media.tumblr.com/tumblr_lel3kmDMRE1qcn249o1_250.gif","breeds":[],"categories":[]},{"id":"v1","url":"https://27.media.tumblr.com/tumblr_m1pgvd5CPM1qjahcpo1_500.jpg","breeds":[],"categories":[]},{"id":"1bh","url":"https://24.media.tumblr.com/tumblr_m3brelrcMw1qzulfbo1_500.jpg","breeds":[],"categories":[]},{"id":"bt","url":"https://24.media.tumblr.com/ZabOTt2mpdp8cpiurcr3ZTxy_400.jpg","breeds":[],"categories":[]},{"id":"2ib","url":"https://25.media.tumblr.com/tumblr_m3ibz8iESF1r6b7kmo1_500.jpg","breeds":[],"categories":[]},{"id":"18l","url":"https://cdn2.thecatapi.com/images/18l.gif","breeds":[],"categories":[]},{"id":"85d","url":"https://24.media.tumblr.com/tumblr_lx0csyDRUL1qdlh1io1_250.gif","breeds":[],"categories":[]},{"id":"15r","url":"https://25.media.tumblr.com/ZabOTt2mpelinebllqGw8kAZo1_500.jpg","breeds":[],"categories":[]}]'
  recorded_at: Tue, 18 Sep 2018 14:32:20 GMT
recorded_with: VCR 4.0.0
