---
http_interactions:
- request:
    method: get
    uri: http://thecatapi.com/api/images/get?category=boxes&format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <response>
          <data>
            <images>
              <image>
                <url>http://25.media.tumblr.com/tumblr_lwwd01DBVo1r0mbi6o1_1280.jpg</url>
                <id>f6</id>
                <source_url>http://thecatapi.com/?id=f6</source_url>
              </image>
            </images>
          </data>
        </response>
  recorded_at: Tue, 12 Apr 2016 16:15:49 GMT
recorded_with: VCR 3.0.1
