---
http_interactions:
- request:
    method: get
    uri: http://api.thecatapi.com/v1/images/search?category_ids=5&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue Sep 18 2018 14:53:55 GMT+0000 (UTC)
      X-Response-Time:
      - 25ms
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"ed","url":"https://28.media.tumblr.com/tumblr_lwa29aW9RO1r0mbi6o1_500.jpg","breeds":[],"categories":[]}]'
  recorded_at: Tue, 18 Sep 2018 14:53:55 GMT
recorded_with: VCR 4.0.0
