http_interactions:
  - request:
      method: get
      uri: http://api.thecatapi.com/api/images/get?format=xml&results_per_page=10
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - text/xml
      body:
        encoding: UTF-8
        string: |
          <?xml version="1.0"?>
          <response>
            <data>
              <images>
                <image>
                  <url>http://25.media.tumblr.com/tumblr_lzv0qmw51M1qlyuwso1_1280.jpg</url>
                  <id>8ve</id>
                  <source_url>http://thecatapi.com/?id=8ve</source_url>
                </image>
                <image>
                  <url>http://25.media.tumblr.com/tumblr_mat8o75KS01rptlauo1_1280.jpg</url>
                  <id>MTY5Njc5Mg</id>
                  <source_url>http://thecatapi.com/?id=MTY5Njc5Mg</source_url>
                </image>
                <image>
                  <url>http://25.media.tumblr.com/tumblr_lmmuhbqBII1qd477zo1_1280.jpg</url>
                  <id>cn9</id>
                  <source_ur[...]
